@charset "UTF-8";

/* common */

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #000;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

.container {
	display: grid;
	grid-template-rows: 60px 1fr 50px;
	grid-template-areas: 
		"header"
		"main"
		"footer";
	row-gap: 30px;
}

/* header */

header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	background-color: #212121;
	padding: 0 4%;
}

header h1 {
	margin: auto 0;
}

.logo {
	color: #da1725;
	font-family: 'Lobster', cursive;
	font-size: 2.5rem;
}

.menu {
	display: flex;
	font-size: 1.25rem;
	margin: 15px 0;
}

.menu li a {
	padding: 20px 10px;
	color: #fff;
}

.menu li a:hover {
	background-color: #696969;
}

/* main */

main {
	grid-area: main;
	height: 1500px;
	padding: 0 4%;
}

/* footer */

footer {
	grid-area: footer;
	background-color: #212121;
}


@media (max-width: 500px) {
	.menu {
		display: flex;
		font-size: 1rem;
		margin: 18px 0;
	}

	.menu li a {
		padding: 22px 5px;
		color: #fff;
	}
}