{% load static %}

<div class="post-container">
    {% for post in post_list %}
        <div class="post">
            <div class="post-title">
                <p><strong>{{ post.title|truncatechars_html:20 }}</strong></p>
            </div>
            <a href="{% url 'movieee:posts_detail' post.id %}">
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="post-img">
                {% else %}
                    <img src="{% static 'images/no_image.png' %}" alt="post-detail" class="post-img">
                {% endif %}
            </a>
            <div class="post-text">
                <p>{{ post.text|truncatechars_html:25 }}</p>
            </div>
            <div class="post-info">
                <a href="{% url 'accounts:users_detail' post.user.id %}" class="post-user">@{{ post.user }}</a>
                <div class="post-date">
                    <p>{{ post.created_date|date:"Y/m/d H:i" }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>