h1 a {
  color: #212121;
  font-family: 'Lobster';
}

.header-title {
  background-color: #212121;
  margin-top: 0;
  padding: 5px 20px 5px 40px;
}

.header-title h1, .header-title h1 a {
  color: #DA1725;
  font-size: 36pt;
  text-decoration: none;
}

.header-menu a {
  color: black;
  text-decoration: none;
}

.header-menu a:hover {
  text-decoration: underline;
}

.post {
  width: calc(100%/3);
  float: left;
  padding: 10px;
  margin-bottom: 15px;
}

.post a {
  display: block;
}

.post-info a:hover {
  text-decoration: underline;
}

.user-name {
  font-size: 30px;
}

.post-image {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.post-image:hover {
  opacity: 0.8;
}

.post-detail .post-image{
  object-fit: contain; 
}

.post-detail .post-image:hover {
  opacity: 1;
}

.message-success {
  background-color: #00d1b2;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}