@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  margin: 0 auto;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  height: 60px;
}
.wrapper {
  margin: 0 auto;
  padding: 0 4%;
}
.wrapper h1 {
  margin: auto 0;
}
.logo {
  font-size: 40px;
  color: #DA1725;
  font-family: 'Lobster', cursive;
}
.main-nav {
  display: flex;
  font-size: 16px;
  margin: 18px 0;
  list-style: none;
}
.main-nav li a {
  padding: 22px 20px;
  color: white;
}
.main-nav li a:hover {
  background-color: gray;
}

.container {
  width: 90%;
  padding-top: 40px;
  margin: auto;
  overflow: auto;
}
.post-container {
  display: flex;
  flex-wrap: wrap;
}
.post {
  width: calc(100%/4);
  padding: 10px;
  margin-bottom: 10px;
}
.post p {
  margin: 0;
}
.post-title {
  margin-bottom: 5px;
}
.post-title strong {
  font-size: 20px;
}
.post-img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}
.post-img:hover {
  opacity: 0.8;
}
.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.post-info a {
  text-decoration: none;
  color: black;
}
.post-date {
  color: #828282;
}

.post-detail .post-img{
  object-fit: contain; 
}
.post-detail .post-img:hover {
  opacity: 1;
}
.user-name {
  font-size: 30px;
}
.message-success {
  background-color: #00d1b2;
  padding: 10px;
  padding-left: 30px;
  border-radius: 4px;
}