{% extends 'movieee/base.html' %}
{% block content %}

<div class="post-detail">
  <img src="{{ post.image.url }}" alt="post-detail" class="post-image">
  <div class="post-info">
    <a href="{% url 'movieee:users_detail' post.user.id %}">@{{ post.user }}</a>
  </div>
  <h2>{{ post.title }}</h2>
  <p>{{ post.text|linebreaksbr }}</p>
  {% if request.user == post.user %}
  <a href="{% url 'movieee:posts_edit' post.id %}" method="post">
    <button type="submit">編集</button>
  </a>
  <form action="{% url 'movieee:posts_delete' post.id %}" method="post">{% csrf_token %}
    <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
  </form>
  {% endif %}
  <hr>
  {% for comment in post.comments.all %}
    <strong>{{ comment.user}}</strong>
    <p>{{ comment.comment }}</p>
    <p>{{ comment.created_date }}</p>
  {% empty %}
    <p>No comments here yet</p>
  {% endfor %}
</div>

{% endblock %}