{% extends 'movieee/base.html' %}
{% block content %}

<div class="post-detail">
  <img src="{{ post.image.url }}" alt="post-detail" class="post-image">
  <div class="post-info">
    <a href="{% url 'movieee:users_detail' post.user.id %}">@{{ post.user }}</a>
  </div>
  <h2>{{ post.title }}</h2>
  <p>{{ post.text }}</p>
  {% if user.is_authenticated %}
    <a href="{% url 'movieee:posts_new'%}">編集</a>
  {% endif %}

  {% if request.user == post.user %}
  <form action="{% url 'movieee:posts_delete' post.id %}" method="post">{% csrf_token %}
    <button class="btn" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
  </form>
  {% endif %}
</div>

{% endblock %}